[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:ace-rake/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:ace-rake/get_next_line.git
[submodule "libft"]
	path = libft
	url = git@github.com:ace-rake/Libft.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:ace-rake/pipex.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:ace-rake/push-swap.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:ace-rake/so-long.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:ace-rake/Philosophers.git
[submodule "Cub3d"]
	path = Cub3d
	url = git@github.com:ace-rake/Cub3d.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:ace-rake/cpp.git
[submodule "zappy"]
	path = zappy
	url = git@github.com:ahooghe/zappy.git
